table
{
    border-style: solid;
    border: 2px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th
{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #8E8E8E;
    color: black;
}

tr.even
{
    background-color: #BBBBBB;
    color: black;
}

th, td
{
    padding: 2px 8px;
}

header
{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1
{
    font-weight: 800;
}

h2
{
    font-weight: 600;
}